@charset "utf-8";
/* CSS Document */

body{
	background-color: #1AABDF;}
h2{
	color: floralwhite;
	text-shadow: 11px 12px 15px darkblue; 
	text-decoration: wavy underline white 2px;
}

img{
	width: 500px;
	border: 15px dashed #F8971B;
	border-radius: 50%;
}
img:hover{
	border: 25px double gold;
}
